@charset "UTF-8";

#box{
	background-color: white;
	border-radius: 15px;
	margin-top: 15%;
	height : 700px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}
#box1{
	float:left;
	background-color: #f8f8f8;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height : 700px;
	width: 55%;
}
#logostyle{
	width:100px; 
	height:100px;
	margin-left: 4%;
	margin-top: 8%;
	margin-bottom: 3%;
}
#hello{
	color: #3dab4a;
	font-family: 'bold';
	font-size: 20pt;
	line-height: 35px;
	margin-left: 6%;
}

@font-face {
	font-family: 'bold';
    src: url('../fonts/NotoSansCJKkr-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
#loginhe{
	color: #3dab4a;
	font-family: 'regular';
	margin-left: 6%;
}

#bannerstyle{
	float: right;
	margin-right: 8%;
	margin-top: 14%;
	width: 70%; 
	height: 38%;
}

@font-face {
	font-family: 'regular';
    src: url('../fonts/NotoSansCJKkr-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

#box2{
	float:right;
	background-color: #ffffff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 700px;
	width: 45%;
}
#welcome{
	float: left;
	font-family: 'medium';
	margin-left: 228.67px;
	margin-top:25%;
	color: #3dab4a;
	font-size: 25pt;
	margin-bottom: 3%;
}
@font-face {
	font-family: 'medium';
    src: url('../fonts/NotoSansCJKkr-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
#icolor{
	color: #0d0d0d;
}
#inputstyle{
	float: left;
	font-family: 'regular';
	width: 60%;
	height: 40px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 4%;
}   
#input{
	height: 40px;
	border-radius: 7px;
}  
#input:focus{
	border-color: #3dab4a;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#btnstyle{
	float: left;
	font-family: 'regular';
	width: 60%;
	height: 40px;
	border-radius: 7px;
	margin-left: 20%;
	margin-right: 20%;
	background-color:#3dab4a;
	margin-top: 3%;
}
#btnstyle:hover{
	border: none;	
	background-color:#77db65;
} 
#btnstyle:focus{
	outline: none;
	border:none;
}