@font-face {
	font-family: 'bold';
    src: url('../fonts/NotoSansCJKkr-Bold.otf');
    font-style: normal;
}
@font-face {
	font-family: 'medium';
    src: url('../fonts/NotoSansCJKkr-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'regular';
    src: url('../fonts/NotoSansCJKkr-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
#title{
	font-family: 'medium';
}
#circle1 {
	border-radius:100px;
    overflow: hidden;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    width: 10%;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
#user_info{
	float: left;
    width:500px;
}
#userID{
	float: left;
    width: 500px;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 13pt;
    display: flex;
    font-family: 'regular';
    color: black;	
}
#userID:hover{
	cursor: pointer;
    text-decoration: underline;
    color: #3dab4a;
}
#userName{
	float: left;
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    font-family: 'regular';
}
#userEmail{
	float: left;
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    font-family: 'regular';
}
#followbtn{
	float:right;
    display: flex;
    font-family: 'regular';
    border-radius: 7px;
    background-color: #3dab4a;
    margin-top: 3%;
}
#followbtn:hover{
	border: none;
}
#content{
	float:left;
	width:100%;
	font-family: 'regular';
	border-radius: 2px;
	padding: 15px;
	margin-top: 2%;
	margin-bottom: 5%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.14), 0 3px 6px -6px rgba(0,0,0,0.12);
}
#bbstitle{
	font-family: 'medium';
	font-size: 13pt;
	color: black;
}
#bbstitle:hover{
   	cursor: pointer;        	
   	color: #3dab4a;
}

