@charset "UTF-8";

@font-face {
	font-family: 'bold';
    src: url('../fonts/NotoSansCJKkr-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'medium';
    src: url('../fonts/NotoSansCJKkr-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'regular';
    src: url('../fonts/NotoSansCJKkr-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
#name{
	font-family: 'bold';
}
#circle1 {
	border-radius:100px;
    overflow: hidden;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    width: 13%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin-top: 1%;
}
#userid{
	font-family: 'medium';
	color: black;
	font-size: 12pt;
	margin-left: 2%;
}
#date{
	font-family: 'regular';
	font-size: 9pt;
	margin-left: 15%;
}
#commentvalue{
	font-family: 'regular';
	font-size: 11pt;
	margin-left: 15%;
	margin-top: 1%;
	margin-bottom: 0;
}
#division{
	margin:5px;
}
#comment{
	float: left;
	width: 100%;
	border: 1px solid #dedede;
	font-family: 'regular';
	border-radius: 1px;
	font-size: 11pt;
	resize: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 80px;
}
#comment::placeholder {
	color: #555555;
	font-size: 11pt;	
	font-family: 'regular';
}
#comment:focus{	
	-webkit-box-shadow: none;
	box-shadow: none;
}
#countbox{
	float: left;
	width:100%;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;	
	border-bottom: 1px solid #dedede;
	font-family: 'regular';
	border-radius: 1px;
	font-size: 11pt;
	resize: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-align: right;
	margin-bottom: 7%;
	height: 25px;
}

#code{
	float: left;
	width: 100%;
	border: 1px solid #dedede;
	font-family: 'regular';
	border-radius: 1px;
	font-size: 11pt;
	margin-bottom: 5%;
	resize: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#code::placeholder {
	color: #555555;
	font-size: 11pt;	
	font-family: 'regular';
}
#writeany{
	float: left;
	width: 100%;
	border: 1px solid #dedede;
	font-family: 'regular';
	border-radius: 1px;
	font-size: 11pt;
	resize: none;
	padding: 6px 12px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 15%;
}
#writeany::placeholder {
	color: #555555;
	font-size: 11pt;	
	font-family: 'regular';
}
#btnSave{
	float: right;
	color: white;
	background-color: #3dab4a;
	border-radius: 0px;
	font-family: 'regular';
	width: 10%;
	height: 24.5px;
	padding: 0;
}
#btnSave:hover{
	color: #3dab4a;
	border-color: #3dab4a;
	background-color: white;
}
#btnSave:focus{
	outline: none;
}
#title{
	float: left;
	width: 100%;
	font-family: 'regular';
	height: 35px;
	border: 1px solid #dedede;
	border-radius: 1px;
	margin-bottom: 5%;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#title::placeholder {
	color: #555555;	
	font-family: 'regular';
	font-size: 11pt;
}
#title[readonly]{
	background-color: white;
}
#code[readonly]{
	background-color: white;
}
#writeany[readonly]{
	background-color: white;
}
#count{
	float: right;
	margin-top: 1px;
	padding-right: 10px;
}

#comment_div {
	width:99%;
	border: 1px dotted #dedede; 
}

