@charset "UTF-8";

#box1{
	max-width: 100%;
	padding: 0;
	margin-top:30px;
}
.card{
	display: inline-block;
}
#img_click{
	float:left;
	width: 100%;
	border-radius:140px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
#userid{
	float:left;
	font-family: 'bold';
	font-size: 15pt;
	margin-bottom: 0px;
	margin-top: 15px;
}
#modifyuser{
	float: right;
	color : #767676;
	margin-top: 11px;
	border-radius: 0;
	border: solid 1px #c2c2c2;
	font-family: 'regular';
	padding: 4px 8px;
	text-decoration: none;
}
#modifyuser:hover{
	cursor: pointer;
}
#username{
	float:left;
	font-family: 'regular';
	font-size: 13pt;
	margin-right: 188.41px;
}
#follow{
	float:left;
	font-family: 'regular';
	color: #767676;
	font-size: 13pt;
	margin-right: 5px;
}
#follownum{
	font-family: 'bold';
	font-size: 13pt;
	color : #0e0e0e;
}
#follow:hover{
	text-decoration: none;
}
#follow:focus{
	text-decoration: none;
}
#email{
	float: left;
	font-family: 'regular';
	font-size: 13pt;
	color: #767676;
}
#box2{
	max-width: 100%;
	padding-left: 5%;
	margin-top:30px;
}
#overview{
	float: left;
	font-family: 'medium';
	width: 20%;
	margin: 10px 5px;
	pointer-events: none;
	font-size: 11pt;
	color : #3dab4a;
	margin-bottom: 0;
}
#overview:focus{
	text-decoration:none;
}
#user_nav{
	float: left;
	font-family: 'medium';
	width: 20%;
	margin: 10px 5px;
	font-size: 11pt;
	color: #767676;
	margin-bottom: 0;
}
#user_nav:hover{
	text-decoration:none;
	color : #3dab4a;
}
#user_nav:focus{
	text-decoration:none;
}
#navlow{
	border-top: 2px solid #c2c2c2;
}
#repo_box{
	float: left;
	font-family: 'regular';
	border: solid 1px #c2c2c2;
	border-radius: 5px;
	width: 30%;
	padding: 10px 10px;
	margin: 10px;
}
#repo_box:hover{
	border: solid 1px #3dab4a;
	cursor: pointer;
	text-decoration: none;
}
#rtitle{
	color: black;
	font-family: 'regular';
	font-size: 17px;
}
#rtitle:hover{
	text-decoration: none;
}
#lang{
	float: right;
	margin-top: 10%;
	margin-bottom: 0;
	color: black;
}
@font-face {
	font-family: 'bold';
    src: url('../fonts/NotoSansCJKkr-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'medium';
    src: url('../fonts/NotoSansCJKkr-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'regular';
    src: url('../fonts/NotoSansCJKkr-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* Repo css */
#repo_tb{
	font-family: 'regular';
}
#repobbstitle{
	color: black;
}
#repobbstitle:focus{
	text-decoration: none;
}
#repobbstitle:hover{
	color: #3dab4a;
	text-decoration:none;
}

/* SetUser css */
#public{
	float: left;
	font-family: 'medium';
	font-size: 15pt;
}
#inputtName{
	font-family: 'medium';
	font-size: 11pt;
	margin-bottom: 7px;
}
#inputt{
	float: left;
	width: 80%;
	border-radius: 5px;
	margin-bottom: 2%;
	margin-right: 20%;
}
#inputt:focus{
	border-color: #3dab4a;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#btnstyle{
	float: left;
	font-family: 'regular';
	width: 30%;
	border-radius: 5px;
	background-color:#3dab4a;
	margin-top: 2%;
	margin-right:70%;
	border:none;
}
#btnstyle:hover{
	border: none;	
	background-color:#77db65;
} 
#btnstyle:focus{
	outline: none;	
} 


/* GetFollowingList css */
#circle1 {
	border-radius:100px;
    overflow: hidden;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    width: 10%;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
#user_info{
	float: left;
    width:450px;
}
#userID{
	float: left;
    width: 450px;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 13pt;
    display: flex;
    font-family: 'regular';
    color: black;	
}
#userID:hover{
	cursor: pointer;
    text-decoration: underline;
    color: #3dab4a;
}
#userName{
	float: left;
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    font-family: 'regular';
}
#userEmail{
	float: left;
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    font-family: 'regular';
}
#followbtn{
	float:right;
    display: flex;
    font-family: 'regular';
    border-radius: 7px;
    background-color: #3dab4a;
    margin-top: 3%;
}
#followbtn:hover{
	border: none;
}




